

.graphHeader {
  padding-left: 5px;
  font-size: 10px;

}
.mat-option {
	font-size: 12px;
	height:20px;
	line-height: 20px;
}

.graphBody {
}

#graphContainerID {
  background-color: rgb(66, 66, 66);
  border: 1px solid #fff;
  
}
